// Desktop
@media (max-width: 1399.98px) {
    .mainLogo {
        max-width: 120px;
        width: 100%;
    }

    .navInner {
        padding: 10px 0;
    }

    .toogleRadio .switch {
        width: 75px;
        height: 36px;
        margin: 0px 10px;
    }

    .toogleRadio .slider:before {
        height: 26px;
        width: 26px;
        left: 5px;
        bottom: 5px;
    }

    .toogleRadio input:checked+.slider:before {
        transform: translateX(38px);
    }

    .promiseWrap li img {
        height: 80px;
    }

    .productSteps .pillsTitle {
        margin: 20px;
    }

    .DND_complex {
        padding: 25px 20px;
        margin-top: -70px;
    }

    .productSteps #v-pills-tab {
        max-width: 340px;
    }

    .productSteps #v-pills-tab button {
        padding: 10px;
    }

    .productSteps #v-pills-tabContent .tab-pane {
        padding: 25px 0px 30px 30px;
    }

    .productSteps .serum-img {
        height: 210px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .accordianMain .accordion-button {
        padding: 20px;
    }

    .container {
        max-width: 1280px;
    }

    .productSteps .serum-detail {
        margin: 18px 0;
        align-items: self-start;
    }

    .productSteps .serum-detail h3 {
        max-width: 580px;
        line-height: 1.2;
    }

    .hurryOrder .orderNow {
        max-width: 320px;
    }

    .footerWrap .footerLogo {
        max-width: 210px;
    }

}

// Ipad pro 
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .bannerWrap {
        padding-bottom: 100px;
    }

    .container {
        max-width: 950px;
    }

    .contactInfo {
        max-width: 345px;
    }

    .benefitsList {
        flex-direction: column;
    }

    .complexLeft .productView {
        padding: 16px;
    }

    .productSlider .smallView {
        padding: 5px 10px;
    }

    .productSlider .largeView {
        height: 300px;
        object-fit: cover;
    }

    .pricingBox {
        width: 100%;
        margin-top: 80px;
        max-width: 460px;
        padding: 90px 35px 35px 35px;
        margin-left: auto;
        &:nth-of-type(2){
            order: 1;
        }
    }


    .pricingBox .savingDNA {
        position: absolute;
        top: 0;
        right: 30%;
        transform: translate(50%, -50%);
    }

    .pricingWrap {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .pricingBox .bottlesImg {
        width: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
width: 300px;
    }

    .pricingBox .bottlesImg img {
        width: 97px;
    }

    .pricingBox .discountPrice li img {
        height: 200px;
        object-fit: contain;
        max-width: inherit;
        width: 200px;
    }
    .pricingBox .discountPrice li:nth-of-type(2) {
       margin-right: 60px;
    }
    .pricingBox .discountPrice {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .pricingBox .youSave {
        margin-top: 5px;
        padding-top: 5px;
    }

    .productSteps .serum-detail {
        flex-direction: column;
    }

    .productSteps .serum-detail h3 {
        max-width: 450px;
    }

    .testimonialsInner .customerImg {
        min-width: 60px;
        min-height: 60px;
    }

    .testimonialsInner li {
        gap: 20px;
    }

    .testimonialsInner .starsWrap li img {
        width: 17px;
    }

    .testimonialsInner .starsWrap {
        gap: 4px;
        align-items: center;
    }

    .radioLeft, .radioRight {
        max-width: 180px;
        width: 100%;
        text-align: center;
    }

    .radioRight {
        max-width: 180px;
        width: 100%;
    }
  

}

//  ipad 

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .DND_complex {
        flex-wrap: wrap;
    }

    .complexLeft {
        width: 100%;
    }

    .complexLeft .productView {
        background-color: #fff;
        padding: 0;
    }

    .productSlider {
        padding-bottom: 40px;
    }

    .perfectSolution h2 {
        margin-top: -35px;
        background: #fff;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .clientName {
        margin-top: 50px;
    }

    .complexRight {
        width: 100%;
        margin-top: 50px;
    }

    .complexRight .productTitle {
        justify-content: center;
    }

    .product-info_md {
        .accordion-button {
            border-radius: 0px !important;
            border-top: 2px solid #13a89e;
            padding: 12px 10px;

            &::after {
                content: "+";
                background-image: none;
                width: auto;
                color: #000000;
            }
        }

        .accordion-button:not(.collapsed) {
            color: #fff;
            background-color: #13a89e;
            box-shadow: none;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: none;
            content: "-";
            color: #fff;
        }

        .bottlesImgMd {
            max-width: 215px;
            width: 100%;
            margin: 15px auto;
        }
    }

    .ingredients-detail {
        img {
            width: 95px;
        }
    }

    .ingredientsWrap .use-step {
        max-width: 73px;
        margin-bottom: 5px;
    }

    .ingredientsWrap .ingredients-detail {
        gap: 10px;
    }

    .hurryOrder h1 {
        display: none;
    }

    .hurryOrder .orderInner {
        justify-content: center;
    }

}

//  mobile 
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .pricingBox .addCart h2{
       font-size: 21px;
    }
    .testimonialsInner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .testimonialsInner .customerImg {
        min-width: 27px;
        min-height: 27px;
        font-size: 14px;
        width: 27px;
    }
    .testimonialsInner h2:last-of-type{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #c9c9c9;
        padding: 10px 0;
    }
    .testimonialsInner h2:last-of-type div:first-of-type{
        display: flex;
        gap: 9px;
        align-items: center;
    }
    .bannerWrap h1 {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
    .DND_complex {
        padding: 25px 15px;
    }

    .contactInfo {
        display: none;
    }

    .navInner {
        justify-content: center;
    }

    .fixed-arrow {
        width: 24px;
    }

    .tadda {
        animation-name: tadda;
        -webkit-animation-name: tadda;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }

    @keyframes tadda {
        0% {
            transform: translateX(0px)
        }

        50% {
            transform: translateX(15px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    .taddaR {
        animation-name: taddaR;
        -webkit-animation-name: taddaR;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }

    @keyframes taddaR {
        0% {
            transform: translateX(0px)rotate(180deg)
        }

        50% {
            transform: translateX(-15px)rotate(180deg);
        }

        100% {
            transform: translateX(0px)rotate(180deg);
        }
    }

    .productTitle {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 2px solid #dbdbdb;
       
        img {
            width: 80px;
            margin-left: auto;
        }
        i{
            font-size: 13px;
        }
    }

    .text-gray {
        color: #6d6e71 !important;
    }

    h1 {
        font-size: 24px;
    }

    .pricingBox .savingDNA {
        font-size: 10px;
        max-width: 150px;
    }

    .pricingBox .bottlesImg img {
        width: 60px;
    }

    .pricingBox .bottlesImg {
        height: auto;
        width: 235px;
    }

    .pricingBox .discountPrice li img {
        height: 175px;
        width: 140px;
    }

    .pricingBox .newPrice h1 {
        font-size: 45px;
    }
    .pricingBox .newPrice sup {
        font-size: 14px;
    }
    .pricingBox .discountPrice li span {
        font-size: 12px;
        right: 10px;
    }
    .pricingBox .discountPrice li .oldPrice {
        font-size: 14px;
    }
    .pricingBox .discountPrice li:nth-of-type(2) {
        margin-right: 0;
    }
    .footerWrap .footerLinks {
        flex-wrap: wrap;
        gap: 10px 0;
    }
    .footerWrap .footerLinks li a {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #000;
    }
    .footerWrap .contactLinks {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 5px;
    }
    .footerWrap .copyrightText {
        margin-top: 40px;
    }
    .hurryOrder .orderNow {
        max-width: 260px;
        height: 46px;
        font-size: 23px;
    }
    .hurryOrder .orderNow img{
       width: 10px;
    }

    .pricingBox {
        padding: 60px 15px 30px 15px;
    }

    .promiseWrap h1::before {
        display: none;
    }

    .promiseWrap h1::after {
        display: none;
    }

    .promiseWrap li h2 {
        margin-top: 10px;
        font-size: 12px;
    }

    .promiseWrap li {
        max-width: 50px;
    }

    .promiseWrap li img {
        height: auto;
    }

    .product-detail {
        h2 {
            text-align: center;
        }
    }

    .ingredientsWrap .ingredients-detail .pillsTitle {
        font-size: 16px;
    }

    .radioMob {
        display: flex;
        margin-top: 30px;

        .purchaseLi {
            width: 50%;
            position: relative;
            background-color: #f7f7f7;
            color: #13a89e;
            &.activeBox{
                background-color: #ec489e;
                color: #fff;
                p{
                    display: block;
                }
            }

            p {
                display: none;
                font-size: 11px;
                color: #000;
                position: absolute;
                bottom: -20px;
                width: 100%;
                text-align: center;
            }

            a {
                font-size: 11px;
                padding: 12px 3px;
                background-color: inherit;
                color: inherit;
                font-weight: 700;
            }
        }
    }
    .pricingBox .offPercent h1 {
        font-size: 25px;
    }
    .pricingBox .offPercent h1 span {
        font-size: 16px !important;
    }
    .pricingBox .offPercent {
        width: 80px;
        height: 80px;
    }
    .pricingBox .offPercent.percent40 {
        height: 75px;
        width: 70px;
    }
    
    

}